@import 'partials/vars';

body {
	font-family: $fontMain;
	font-size: 14px;
	font-weight: 600;
}

#content-wrapper {
	padding-top: 184px;
	padding-bottom: 60px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

.container {
	width: 1280px;
	max-width: 100%;
}

::selection {
	background: $primaryColor;
}

:focus {
	outline: none !important;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.nav-tabs {
	border: none;
	.nav-item {
		margin: 0;
		.nav-link {
			border: none;
			border-radius: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

.kbtn {
	border-radius: 3px;
	padding: 9px 18px;
	transition: all .2s ease;
	&.empty {
		background: none;
		border: 1px solid #fff;
		color: #fff;
		&:hover {
			color: #000;
			background: #fff;
			transition: all .2s ease;
		}
	}
}

.row {
	&.centered {
		align-items: center;
	}
}

p {
	b,a {
		color: $primaryColor
	}
}

ul {
	&.bordered {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				background: #afafaf;
				width: 1px;
				height: 100%;
				left: -8px;
				top: -1px;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}

#header-wrapper {
	background: #000;
	color: $primaryColor;
	position: fixed;
	width: 100%;
	z-index: 500;
	a {
		color: $primaryColor;
		font-size: 12px;
		transition: all .2s ease;
		&:hover {
			color: lighten($primaryColor, $amount: 15);
			border-color: lighten($primaryColor, $amount: 15);
			transition: all .2s ease;
		}
	}
	._top {
		padding: 12px 0;
		.social {
			ul {
				margin: 0;
				padding: 0;
				li {
					padding: 0;
					a {
						display: block;
						width: 33px;
						height: 33px;
						border-radius: 50%;
						border: 2px solid $primaryColor;
						padding: 5px 0;
						font-size: 14px;
						text-align: center;
					}
				}
			}
		}
		._menu {
			li {
				margin: 0 6px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	._bottom {
		padding: 12px 0;
	}
	#menu-main {
		background: #fff;
		border-bottom: 1px solid #000;
		ul {
			margin: 0;
			padding: 0;
			li {
				padding: 16px 0 12px 0;
				line-height: 1;
				a {
					color: #000;
					transition: all .2s ease;
				}
			}
			li:not(:last-child) {
				margin-right: 12px;
			}
			&.primary {
				li:not(:last-child) {
					margin-right: 24px;
				}
			}
			&.secondary {
				li {
					&:before {
						height: 100%;
						left: -9px;
						top: 0;
					}
					a {
						display: flex;
						align-items: center;
						justify-content: space-between;
						i {
							font-size: 18px;
							margin-right: 9px;
							color: $colorGrey;
							transition: all .2s ease;
						}
						span {
							line-height: 1;
							padding-top: 2px;
						}
						&:hover {
							color: #000;
							i {
								color: #000;                
								transition: all .2s ease;
							}
						}
					}
				}
			}
		}
		.menus {
			display: flex;
			justify-content: space-between;
		}
	}
	&._ready {
		top: -60px;
		transition: all .3s ease;
		._top, ._bottom {
			display: none;
		}
		#menu-main {
			background: #000;
			ul {
				li {
					a {
						color: #fff;
					}
				}
			}
		}
		&._sticky {
			top: 0;
			transition: all .3s ease;
		}
		.directory-sub {
			a {
				color: #000 !important;
			}
		}
	}
	&._sticky {
		#menu-main {
			ul {
				&.secondary {
					li {
						a {
							&:hover {
								color: #fff;
								i {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}

.kad {
	background: #bbb;
	margin: 18px 0;
	&.sticky {
		position: sticky;
		top: 18px;
	}
}

#mast-search {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 550px;
	position: relative;
	overflow: hidden;
	.background-slider {
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 550px;
		._slide {
			background-size: cover !important;
			background-position: center !important;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			height: 550px;
			padding: 30px 0;
			> * {
				position: relative;
				z-index: 1;
			}
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				z-index: 0;
				background: rgba(0, 0, 0, .8);
			}
			._title {
				text-align: center;
				color: #fff;
				font-size: 1.5em;
			}
			._tags {
				text-align: center;
				color: #fff;
				font-size: 12px;
				span {
					margin-bottom: 9px;
				}
			}
		}
	}
	.search-tab {
		position: relative;
		z-index: 10;
		.nav-tabs {
			border: none;
			display: flex;
			li {
				flex-grow: 1;
				text-align: center;
				margin: 0;
				.nav-link {
					overflow: hidden;
					position: relative;
					border-radius: 0;
					color: #fff;
					background: #000;
					font-size: 12px;
					border: none;
					padding: 18px 15px 15px 15px;
					&:hover {
						border: none;
					}
					&.active {
						background: $primaryColor;
						color: #000;
						&:after {
							bottom: -9px;
							transition: all .2s ease .2s;
						}
					}
					&:after {
						display: none;
						position: absolute;
						content: "";
						width: 15px;
						height: 15px;
						background: #fff;
						transform: (rotateZ(45deg));
						bottom: -18px;
						margin: 0 auto;
						left: 0;
						right: 0;
						transition: all .2s ease;
					}  
				}
			}
		}
		.tab-content {
			width: 800px;
			.tab-pane {
				._input_wrap {
					position: relative;
					input {
						width: 100%;
						padding: 18px 69px 18px 30px;
						border: none;
					}
					button {
						position: absolute;
						right: 9px;
						top: 8px;
						background: $primaryColor;
					}
				}
				.options {
					background: lighten($primaryColor, $amount: 15);
					border-top: 1px solid darken($primaryColor, $amount: 15);
					display: flex;
					padding: 0 15px;
					.option {
						font-size: 12px;
						line-height: 1;
						padding: 15px;
						font-weight: 300;
						color: #000;
						position: relative;
						cursor: pointer;
						i {
							transition: all .2s ease;
							font-size: 14px;
							margin-left: 6px;
							position: relative;
							top: 0;
						}
						&:hover {
							i {
								top: 5px;
								transition: all .2s ease;
							}
							.sub-options {
								opacity: 1;
								visibility: visible;
								transition: all .2s ease;
							}
						}
						.sub-options {
							opacity: 0;
							visibility: hidden;
							position: absolute;
							left: 0;
							width: 200px;
							background: lighten($color: #000000, $amount: 20);
							color: #fff;
							top: 100%;
							max-height: 180px;
							transition: all .2s ease;
							.sub-option {
								position: relative;
								border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
								span {
									color: #fff;
								}
								&:last-child {
									border: none;
								}
							}
						} 
					}
				}
			}
		}
	}
}

.k-input {
	label {
		font-size: 14px;
		width: 100%;
		padding: 12px;
		margin: 0;
		cursor: pointer;
		span {
			&:before {
				content: "";
				display: inline-block;
				width: 15px;
				height: 15px;
				border: 1px solid $primaryColor;
				border-radius: 50%;
				position: absolute;
				right: 15px;
			}
			&:after {
				content: "";
				position: absolute;
				width: 9px;
				height: 9px;
				background: $primaryColor;
				border-radius: 50%;
				position: absolute;
				right: 18px;
				top: 15px;
				opacity: 0;
				transition: all .2s ease;
			}
		}
		input {
			float: right;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			&:checked {
				&+span {
					&:after {
						opacity: 1;
						transition: all .2s ease;
					}
				}
			}
		}
	}
}

#front-page-reviews {
	._title {
		background: #000;
		float: left;
		padding: 9px 15px;
		h3 {
			color: #fff;
			margin: 0;
			padding: 12px 24px 6px 24px;
		}
	}
	._main {
		display: flex;
		.reviews-slider-wrap  {
			flex: 2;
			position: relative;
			min-width: 0;
			._slide {
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover !important;
				background-position: center !important;
			}
			.reviews-slider, .slick-list, .slick-track {
				height: 100%;
			}
		}
		._tabs {
			flex: 1;
			min-width: 240px;
			.tab-content {
				min-height: 484px;
			}
		}
	}
}

#reviewsTab {
	display: flex;
	.nav-item {
		flex-grow: 1;
		background: $colorGrey;
		border: none;
		.nav-link {
			border-top: 3px solid transparent;
			color: #000;
			font-weight: 600;
			text-align: center;
			padding: 30px 0;
			&.active {
				border-top: 3px solid $colorGrey;
			}
		}
	}
}

.tab-content {
	._review {
		padding: 21px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
		height: 88px;
		a {
			color: #000;
		}
		cursor: pointer;
		._review_title {
			font-weight: 600;
		}
		._location_overlay {
			width: 0;
			opacity: 0;
			position: absolute;
			height: 100%;
			right: 0;
			transition: all .3s ease .2s;
			._pin {
				position: absolute;
				left: -69px;
				width: 69px;
				height: 100%;
				background: #000;
				color: $primaryColor;
				display: flex;
				i {
					display: block;
					border-radius: 50%;
					border: 2px solid $primaryColor;
					width: 38px;
					font-size: 21px;
					padding-top: 6px;
					height: 38px;
					margin: auto;
					text-align: center;
					opacity: 0;
					transition: all .2s ease;
				}
			}
			._address {
				background: $colorGrey;
				color: #fff;
				font-weight: 600;
				padding: 13px;
				height: 100%;
				font-size: 12px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				span {
					opacity: 0;
					transition: all .2s ease;
				}
			}
		}
		&:hover {
			._location_overlay {
				width: 100%;
				opacity: 1;
				transition: all .3s ease;
				._pin {
					i {
						opacity: 1;
						transition: all .2s ease .3s;
					}
				}
				._address {
					span {
						opacity: 1;
						transition: all .2s ease .3s;
					}
				}
			}
		}
	}
}

.stars {
	width: 102px;
	height: 14px;
	background: url('../img/stars.png');
	&.stars-white {
		background: url('../img/stars-light.png');		
	}
	&.star-0 {
		background-position: 0 0;
	}
	&.star-1 {
		background-position: -105px 0;
	}
	&.star-2 {
		background-position: -210px 0;
	}
	&.star-3 {
		background-position: -315px 0;
	}
	&.star-4 {
		background-position: -420px 0;
	}
	&.star-5 {
		background-position: -525px 0;
	}
	&.star-0-2 {
		background-position: 0 14px;
	}
	&.star-1-2 {
		background-position: -105px 14px;
	}
	&.star-2-2 {
		background-position: -210px 14px;
	}
	&.star-3-2 {
		background-position: -315px 14px;
	}
	&.star-4-2 {
		background-position: -420px 14px;
	}
	&.star-5-2 {
		background-position: -525px 14px;
	}
}

.__pick {
	width: 45px;
	height: 45px;
	border: 2px solid #000;
	border-radius: 50%;
	position: relative;
	font-weight: 400;
	&:after {
		content: "our pick";
		width: 37px;
		height: 37px;
		background: #000;
		color: $primaryColor;
		border-radius: 50%;
		display: block;
		position: absolute;
		top: 2px;
		left: 2px;
		line-height: 1;
		text-align: center;
		padding-top: 3px;
	}
}

#splash-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	#splash-header {
		background: rgba(0, 0, 0, 0.5);
		padding: 18px 0;
	}
	#splash-slider {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		.slide-wrap {
			._slide {
				position: absolute;
				width: 100vw;
				height: 100vh;
				background-size: cover !important;
				background-position: center !important;
			}
		}
	}
	#splash-footer {
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		._top {
			h1,h2,h3,h4,h5,h6 {
				margin: 0;
				color: $primaryColor;
				line-height: 1.8rem;
			}
			padding: 18px 0;
			border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
		}
		._bottom {
			display: flex;
			justify-content: center;
			.k-region {
				cursor: pointer;
				position: relative;
				color: #fff;
				padding: 80px;
				transition: all .3s ease;
				border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
				display: flex;
				flex-direction: column;
				span {
					margin-bottom: 9px;
				}
				&:before {
					content: "";
					position: absolute;
					top: 0;
					width: 100%;
					left: 0;
					height: 4px;
					opacity: 0;
					transition: all .3s ease;
				}
				&:nth-child(1):before {
					background: #2ecc71;
				}
				&:nth-child(2):before {
					background: #d35400;
				}
				&:nth-child(3):before {
					background: #c0392b;
				}
				&:nth-child(4):before {
					background: #2980b9;
				}
				&:nth-child(5):before {
					background: #8e44ad;
				}
				&:last-child {
					border-right: 1px solid rgba($color: #fff, $alpha: 0.5);
				}
				&:hover {
					background: #000;
					transition: all .3s ease;
					&:before {
						opacity: 1;
						transition: all .3s ease;
					}
				}
			}
		}
	}
}

.k-section {
	margin: 120px 0;
	.section-title {
		padding-bottom: 12px;
		h1,h2,h3,h4,h5 {
			margin: 0;
		}
	}
}

.k-list {
	margin-bottom: 15px;
	a {
		color: #000;
	}
	&._basic {
		._dets {
			font-size: 11px;
			line-height: 1;
			padding: 18px 0;
			display: flex;
			justify-content: space-between;
			._title {
				padding: 3px 9px 0 0;
			}
			._icon {
				i {
					font-size: 18px;
					border: 2px solid #000;
					border-radius: 50%;
					padding: 9px;
					width: 40px;
					height: 40px;
					text-align: center;
				}
			}
		}
	}
	&:hover {
		._icon {
			i {
				transform: rotateZ(-18deg);
			}
			.fa-glass-martini-alt {
				&:before {
					content: "\f000";
				}
			}
		}
	}
}

.loadMore {
	margin: auto;
	cursor: pointer;
	font-size: 18px;
	height: 22px;
	&.rotating {
		animation: rotating 3s infinite;
	}
}

@keyframes rotating {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

._icon {
	i {
		font-size: 18px;
		border: 2px solid #000;
		border-radius: 50%;
		padding: 9px;
		width: 40px;
		height: 40px;
		text-align: center;
		color: #000;
		&.fa-coffee, &.fa-tv, &.fa-glass-cheers {
			padding: 9px 9px 9px 7px;
		}
	}
	&:hover {
		i {
			transform: rotateZ(-18deg);
		}
	}
}

#kgarira-directory {
	display: flex;
	padding: 72px 0;
	._left {
		flex: 1;
		max-width: 240px;
		margin-right: 90px;
	}
	._right {
		flex: 2;
		display: flex;
		justify-content: space-between;
		a {
			display: block;
			padding: 15px;
			color: #000000;
			._icon {
				margin: auto;
				margin-bottom: 12px;
			}
		}
	}
	._icon {
		text-align: center;
		i {
			display: block;
			margin: 0 auto 6px auto;
		}
	}
}
 ul.icon-grid {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 display: flex;
	 justify-content: center;
	 flex-wrap: wrap;
	 li {
		 flex: 1;
		 text-align: center;
		 padding: 30px 0;
		 min-width: 150px;
		 max-width: 160px;
		 a {
			 color: #000;
		 }
	 }
 }
 #explore {
	 ._icon {
		 i {
			 margin: 0 auto 12px auto;
			 display: block;
		 }
	 }
 }

 #trending-ajax {
		._icon {
			 &:hover {
					i {
						 transform: none;
					}
			 }
		}
	._time_range {
	 cursor: pointer;
	}
	.time-range {
		position: relative;
	 ._sub {
		position: absolute;
		max-height: 0;
		transition: all .3s ease;
		overflow: hidden;
		right: 0;
		 ul {
			margin: 0;
			padding: 0;
			list-style: none;
			width: 150px;
			background: #fff;
			text-align: right;
			li {
			 padding: 9px;
			 span {
				color: $colorHalfBlack;
				cursor: pointer;
				&.actove {
				 color: #000;
				}
			 }
			}
		 }
		}
		&:hover {
		 ._sub {
			max-height: 300px;
			transition: all .3s ease;
		 }
		}
	 }
	 ._title-row {
		 display: inline-block;
		 width: 100%;
		 .time-range {
			 color: #000;
			 cursor: pointer;
		 }
		 ._icon {
			 display: inline-block;
			 i {
				width: 18px;
				height: 18px;
				font-size: 14px;
				padding: 0;
			 }
		 }
	 }
	 #trending-topics {
		 margin: 0;
		 padding: 0;
		 list-style: none;
		 li {
			padding-right: 9px;
			margin-right: 9px;
			border-right: 1px solid $colorHalfBlack;
			display: inline-block;
			font-size: 12px;
			&:last-child {
				border: none;
			}
			a {
				color: $colorHalfBlack;
			}
			&.active {
				a {
					color: #000;
				}
			}
		 }
	 }
	 .trending-wrap {
		margin-top: 21px;
		min-height: 350px;
		 a {
			color: #000;
		 }
		 .trend-box {
					margin-bottom: 12px;
			 display: flex;
			 justify-content: space-between;
			 ._img {
				min-width: 110px;
				width: 110px;
			 }
			 ._desc {
				font-size: 12px;
				margin: auto;
			 }
		 }
	 }
 }

 .num-index {
	 color: $colorHalfBlack;
	 font-size: 21px;
	 padding: 15px;
	 margin: auto;
 }

.k-slider {
	display: flex;
	._window {
		height: 420px;
		width: 100%;
		position: relative;
		overflow: hidden;
		flex: 3;
		._img {
			position: absolute;
			z-index: 10;
			width: 100%;
			height: 100%;
			background: #000;
			background-size: cover !important;
			// background-position: center !important;
			background-repeat: no-repeat !important;
			top: 0;
			left: 0;
			&.active {
				z-index: 15;
				left: 0;
			}
		}
	}
	._dets {
		flex: 1;
    display: flex;
    flex-direction: column;
		background: #000;
		min-width: 0;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
		}
		&.transitioning {
			&:after {
				opacity: 1;
				visibility: visible;
				transition: all .3s ease;
			}
		}
		._description {
			flex-grow: 1;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 12px;
			.slide-description {
				h5 {
					color: #fff;
					margin: 0;
				}
				p {
					margin: 0;
					color: $colorGrey;
					font-weight: 400;
				}
			}
			._buttons {
				button {
					background: none;
					border: none;
					color: #fff;
					display: inline-block;
					line-height: 1;
					height: 20px;
					cursor: pointer;
					._icon {
						i {
							color: #fff;
							border-color: #fff;
							width: 24px;
							height: 24px;
							display: block;
							padding: 4px 2px 2px 2px;
							font-size: 12px;
							border-width: 2px;
						}
						&:hover {
							i {
								transform: none;
							}
						}
					}
				}
			}
		}
		._next_slide {
			flex: 1;
			position: relative;
			.slick-list, .slick-track {
				height: 100%;
			}
			._img_next {
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover !important;
				background-position: center !important;
			}
		}
	}
}

.k-n-section {
	margin-top: 45px;
}

#region-shops {
	display: inline-block;
	padding: 9px;
	width: 100%;
	background-size: cover !important;
	background-position: center !important; 
}

.highlight-list {
	padding: 18px;
	background: #fff;
	border-radius: 3px;
	width: 100%;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 6px;
			&:last-child {
				margin: none;
			}
			a {
				color: #000;
				transition: all .3s ease;
				font-weight: 400;
				i {
					padding-right: 6px;
				}
				&:hover {
					color: $colorHalfBlack;
					transition: all .3s ease;
				}
			}
		}
	}
}

#events-calendar {
	._title {
		i {
			font-size: 24px;
		}
	}
	._date_select {
		ul {
			margin: 0;
			padding: 9px 0;
			list-style: none;
			border-bottom: 1px solid $colorGrey;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			li {
				display: inline;
				border-right: 1px solid $colorGrey;
				&:last-child {
					border: none;
				}
				span {
					padding: 3px 18px;
					position: relative;
					cursor: pointer;
					&:after {
						content: '';
						position: absolute;
						background: $colorGrey;
						width: 9px;
						height: 9px;
						bottom: -24px;
						transform: rotateZ(45deg);
						margin: auto;
						left: 0;
						right: 0;
						transition: all .3s ease;
					}
				}
				&.active {
					span {
						&:after {
							bottom: -15px;
							transition: all .3s ease;
						}
					}
				}
			}
		}
		._day {
			padding: 9px 0;
		}
	}
	._events {
		._event {
			a {
				color: #000;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $colorGrey;
				padding: 12px 0;
			}
			._event_dets {
				p {
					margin: 0;
					font-weight: 400;
					display: none;
				}
				._more {
					border: 2px solid $colorGrey;
					border-radius: 50%;
					color: $colorGrey;
					padding: 2px 3px 3px 5px;
					display: block;
					width: 21px;
					height: 21px;
					display: none;
				}
			}
			._icon {
				margin-left: 12px;
				&:hover {
					i {
						transform: none;
					}
				}
			}
			&:hover {
				._event_dets {
					p, ._more {
						display: block;
					}
				}
			}
		}
	}
}

#must-tries {
	margin-top: 45px;
}

.try-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	._img {
		flex: 1;
		flex-grow: 1;
		flex: 3;
		background-size: cover !important;
		background-position: center !important;
	}
	._dets {
		background: #000;
		color: #fff;
		padding: 12px;
		flex: 1;
		padding: 24px;
		._icon {
			margin-top: 24px;
			i {
				color: #fff;
				border-color: #fff;
				width: 30px;
				height: 30px;
				padding: 3px 3px 3px 5px;
			}
			&:hover {
				i {
					transform: none;
				}
			}
		}
	}
}

#footer-wrapper {
	background: #000;
	padding: 30px 0;
	color: #fff;
	.footer-block {
		._header {
			height: 60px;
			._icon {
				i {
					color: #fff;
					border-color: #fff;
				}
				&:hover {
					i {
						transform: none;
					}
				}
			}
		}
		h5 {
			margin: 0;
			height: 30px;
			font-size: 14px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin-bottom: 6px;
				line-height: 1.3em;
				a {
					color: #fff;
					font-weight: 400;
				}
			}
		}
	}
}

.footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 18px;
	li {
		display: inline-block;
		margin-right: 9px;
		padding-right: 18px;
    position: relative;
		&:after {
			content: "";
			border-right: 1px solid #fff;
			right: 0;
			position: absolute;
			height: 100%;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		a {
			color: #fff;
			text-transform: uppercase;
		}
	}
}

.footer-top {
	border-bottom: 1px solid #fff;
	margin-bottom: 21px;
}

.newsletter-sub {
	background: #fff;
	color: #000;
	margin-top: -30px;
	height: 69px;
	padding: 24px 21px;
	position: relative;
	> span {
		font-size: 14px;
		cursor: pointer;
	}
	.form {
		display: none;
		position: absolute;
    left: 40px;
    top: 22px;
    right: 18px;
    // display: flex;
		justify-content: space-between;
		input[type='text'] {
			flex-grow: 1;
			margin-right: 15px;
			border: none;
			border-bottom: 1px solid #000;
		}
		button[type='submit'] {
			border: 2px solid #000;
			background: none;
			border-radius: 50%;
			display: block;
			width: 24px;
			height: 24px;
			cursor: pointer;
		}
	}
}

.listing-page {
	background: none;
	.listing-wrapper {
		.listing-menu {
			.filter-list {
				ul {
					.list-inline-item {
						a {
							&:hover {
								color: #000;
							}
						}
					}
				}
			}
		}
	}
}

.listing-item-content {
	.stars {
		margin-bottom: 9px;
	}
}

#pagination {
	display: flex;
	width: max-content;
	align-items: center;
	margin-top: 30px;
	i {
		color: #000;
		border: 2px solid #000;
    border-radius: 50%;
    display: block;
    height: 22px;
    width: 22px;
    text-align: center;
    padding-top: 2px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			border-right: 1px solid #000;
			display: inline-block;
			&:last-child {
				border: none;
			}
			a {
				color: $colorHalfBlack;
				padding: 5px 9px 3px 9px;
				display: block;
				&.active {
					color: #000;
				}
			}
		}
	}
}

#detail_slider {
	._window {
		height: 540px;
	}
	&.k-slider {
		position: relative;
		align-items: center;
		._buttons {
			position: absolute;
			z-index: 100;
			width: 100%;
			button {
				background: none;
				border: none;
				position: absolute;
				cursor: pointer;
				&._prev {
					left: 0;
				}
				&._next {
					right: 0;
				}
				._icon {
					i {
						width: 30px;
						height: 30px;
						padding: 0;
						padding-top: 4px;
						background: #000;
						color: #fff;
					}
					&:hover {
						i {
							transform: none;
						}
					}
				}
			}
		}
	}
}

.content-menu {
	.author {
		.info {
			a {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}

.venue-content {
	.venue-body {
		.main-content {
			.review {
				.detail {
					font-size: 1.3em;
				}
			}
		}
	}
}

.review {
	.comments-block {
		background: #f1f1f1;
    margin-bottom: 15px;
	}
}

.nearby-single-place {
	._img {
		position: relative;
		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .5);
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
			i {
				color: #fff;
				font-size: 18px;
				border-radius: 50%;
				display: block;
				width: 40px;
				height: 40px;
				border: 2px solid #fff;
				padding: 9px 0 0 10px;
			}
		}
	}
	&:hover {
		._img {
			.overlay {
				opacity: 1;
				visibility: visible;
				transition: all .3s ease;
			}
		}
	}
}

.special-slider {
	._slide {
		width: 100%;
		height: 198px;
		background-size: cover !important;
		background-position: center !important;
	}
}

#playmaker {
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .75);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	&.active {
		opacity: 1;
		visibility: visible;
		transition: all .3s ease;
	}
	#playmaker-main {
		background: $colorHalfBlack;
		display: flex;
		justify-content: center;
		align-items: center;
		// width: 88%;
		margin: auto;
		position: relative;
		._close {
			position: absolute;
			right: -12px;
			top: -12px;
			cursor: pointer;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 50%;
			display: block;
			height: 24px;
			width: 24px;
			font-size: 16px;
			padding: 0 0 0 5px;
		}
		._form {
			display: flex;
			flex-direction: column;
			.inputs {
				box-shadow: 0 0 0 9px $colorGrey;
				display: flex;
				._input {
					background: #fff;
					display: flex;
					padding: 15px 18px;
					border-right: 1px solid #d4d4d4;
					position: relative;
					cursor: pointer;
					&:last-child {
						border: none;
					}
					i {
						font-size: 16px;
					}
					._selected {
						text-transform: uppercase;
						margin: 0 9px;
						font-size: 12px;
					}
					// .down {
					// 	margin-top: 1px;
					// }
					.dropdown {
						position: absolute;
						top: 100%;
						background: #fff;
						width: 100%;
						left: 0;
						opacity: 0;
						visibility: hidden;
						transition: all .3s ease;
						ul {
							margin: 0;
							padding: 0;
							list-style: none;
							li {
								span {
									display: block;
									padding: 12px 18px;
									border-bottom: 1px solid #bdbdbd;
									transition: all .3s ease;
									font-size: 12px;
									&:hover {
										background: #afafaf;
										transition: all .15s ease;
									}
								}
								&.selected {
									span {
										background: #000;
										color: #fff;
										transition: all .3s ease;
									}
								}
								&:last-child {
									span {
										border-bottom: none;
									}
								}
							}
						}
					}
					&:hover {
						.dropdown {
							opacity: 1;
							visibility: visible;
							transition: all .3s ease;
						}
					}
				}
			}
		}
	}
}

#play_day {
	min-width: 120px;
}
#play_time {
	min-width: 110px;
}
#play_location {
	min-width: 130px;
}
#play_what {
	min-width: 230px;
}
#play_other {
	min-width: 215px;
}

.play_btn {
	background: #000;
	border: 1px solid #777;
	margin: 60px auto 0 auto;
	color: #9e9e9e;
	padding: 15px 21px;
	transition: all .3s ease;
	cursor: pointer;
	i {
		border-radius: 50%;
    border: 1px solid #9e9e9e;
    display: inline-block;
    height: 21px;
    width: 21px;
    margin-left: 9px;
    padding: 2px 0 0 2px;
		transition: all .3s ease;
	}
	&:hover {
		box-shadow: 0 0 13px 0px rgba(255, 255, 255, 0.51);
		color: #fff;
		transition: all .3s ease;
		i {
			color: #fff;
			border-color: #fff;
			transition: all .3s ease;
		}
	}
}

.directory-sub {
	position: absolute;
	background: #fff;
	color: #000;
	padding: 75px 0;
	display: none;
	top: 100%;
	// transition: all .3s ease;
	._inner {
		display: flex;
		justify-content: space-between;
		._left {
			flex: 1;
			max-width: 240px;
			margin-right: 90px;
		}
		._right {
			display: flex;
			flex: 2;
			justify-content: space-between;
			._icon {
				text-align: center;
				i {
					display: block;
					margin: 0px auto 9px auto !important;
					color: #000 !important;
				}
			}
		}
	}
}

#directory-menu {
	&:hover {
		.directory-sub {
			display: block;
			// transition: all .3s ease;
		}
	}
}