@import 'partials/vars';

// ERMAGERD!!!
// div {
//   color: darken($primaryColor, $amount: 15);
// }

.sidebar {
  .dark-sidebar {
    .sub_option {
      position: relative;
      label {
        font-size: 14px;
        width: 100%;
        margin: 0;
        cursor: pointer;
        span {
          &:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            border: 1px solid $primaryColor;
            width: 15px;
            height: 15px;
            position: absolute;
            right: 15px;
          }
          &:after {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            background: $primaryColor;
            border-radius: 50%;
            position: absolute;
            right: 18px;
            top: 30px;
            opacity: 0;
            transition: all .2s ease;
          }
        }
        input {
          float: right;
          position: absolute;
          opacity: 0;
          pointer-events: none;
          &:checked {
            &+span {
              &:after {
                opacity: 1;
                transition: all .2s ease;
              }
            }
          }
        }
      }
    }
  }
}