@import 'partials/vars';

.listing-page {
  .listing-wrapper {
    .listing-menu {
      border-bottom: 1px solid #000;
      padding-bottom: 6px;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      .filter-list {
        ul {
          .list-inline-item {
            a {
              color: #000;
              &:hover {
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
  }
  .listings {
    .listing-item {
      background: #fff;
      margin-bottom: 15px;
      .listing-item-image {
        img {
          // width: 325px;
        }
      }
      .listing-item-content {
        margin-top: 30px;
        h4 {
          text-transform: uppercase;
          font-weight: 600; 
          font-size: 1rem;
        }
        .address {
          margin-bottom: 0;
        }
        p {
          font-weight: 400;
        }
      }
    }
  }
  .sidebar {
    .dark-sidebar {
      // background: #000;
      color: $primaryColor;
      text-transform: uppercase;
      h6 {
        padding-top: 15px;
        text-transform: uppercase;
      }
      .k-input {
        .inner-k-input {
          position: relative;
          label {
            padding: 3px 0;
            span:after {
              top: 6px;
            }
          }
        }
      }
    }
  }
}
